@font-face{
 font-family:"Raleway" ;
 src: url("./fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf");
 src: url("./fonts/Raleway/Raleway-VariableFont_wght.ttf");
 font-weight: normal;
 font-style: normal;

 font-family: "Caveat";
 src: url("./fonts/Caveat/Caveat-VariableFont_wght.ttf");
 font-weight: normal;
 font-style: normal;

 font-family: "Nanum_Myeongjo";
 src: url("./fonts/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf");
 src: url("./fonts/Nanum_Myeongjo/NanumMyeongjo-ExtraBold.ttf");
 src: url("./fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf");
 font-weight: normal;
 font-style: normal;

 font-family: "Raleway_Dots";
 src: url("./fonts/Raleway_Dots/RalewayDots-Regular.ttf");
 font-weight: normal;
 font-style: normal;
}

*{
 box-sizing: border-box;
 font-family: Raleway;
 padding: 0px;
 margin: 0px;
}
html, body{
 margin: 0;
 padding: 0;
}
.nav{
   margin: auto;
    width:max-content ;
}
.nav ul{
 padding: 0;
 display: inline-block;
}
.nav li{
display: inline;
justify-content: center;



}
.nav li a{
 font-size:16px ; 
 padding: 2em; 
letter-spacing: 2px;
 text-decoration: none;
 color: black;
}
.nav a:hover{
    background-color: rgba(225, 225,225, .3);
    color: chartreuse;
}
.main-header{
padding: 0;
margin: 0;
height: 50px;
padding-bottom: 30px; 
}
 .brand-name{
 /*  */
 text-align: center;
 letter-spacing: 2px;
 color:black;
 word-spacing: 20px;
 font-weight: bolder;
 padding: 20px;
 font-size: 72px;
}
.brand-name div{
    font-size: 64px;
}
.section-header{
    padding:10px;
    margin: 10px;
}
.main{
    display: flex;
}
.index-imgage{
    padding: 10px;
    
}
.btn{
    background-color: rgb(79, 136, 22);
    height: 44px;
    width: 150px;
    border: none;
    border-radius: 30px;
    color: whitesmoke;
    font-size: 18px;
    margin-left: 600px;
    margin-bottom: 20px;
}
.btn:hover{
    background-color: black;
    color:white;
     transition: 1s ease; 
}
img{
    width: 500px;
    height: 400px;
    /* margin:  100px; */
}
h2{
    text-align: center;
    letter-spacing: 2px;
    background-color:green;
    padding: 10px;
  
}


.main-paragraph{
    word-spacing: 3px;
    font-family: Nanum_Myeongjo;
}
.section-main{
    text-align: center;
    display: inline;
}
.wears-set{
    display: grid;
justify-items: center;
margin-top:50px ;
margin-bottom: 100px;
}
.wears-set img{
    margin-bottom: 10px;
    margin-top: 50px;
}
a{
 font-size:20px ; 
 padding:  2vw 10vw;
letter-spacing: 2px;
 text-decoration: none;
 color:rgba(77, 8, 62, 0.98);

}
a:hover{
    color: chartreuse;G
}
.main-footer-container{
    text-align: end
    flex-grow: 1;
}
.main-footer-container  a:hover{
   background-color: lightblue;

}

.footer-nav{
    text-align: center;
    display: flex;
    margin: 10px;
}

.footer-nav img{
    width: 100px;
    height: 50px;
}

.main-footer{
    color:rgb(43, 41, 41);
    padding-top: 20px;
}

/* media queries */
@media (max-width:767px )